
.paper-wrapper {
    grid-area: paper;
    overflow: scroll;
}

.paper-root {
    overflow: hidden;
    position: relative;
}

.joint-paper:focus {
    outline: none;
}

.joint-paper {
    background-color: white;
}

#main-paper-proof-paper {
    background-color: #ff92928f;
}