
.workspace {
    display: grid;

    grid-template-areas: 
        'side   paper  paper'; 
    grid-template-columns: 15vw auto auto;
    overflow: hidden;
}

.paper-wrapper {
    grid-area: paper;
    overflow: hidden;
}