.header-bar {
  display: flex;
  flex-direction: row;
  background-color: #293241;
  grid-area: header;
  padding: 10px;
  text-align: center;
}

.menu-item {
  height: 100%;
  padding: 0;
  color: #E0FBFC
}
img {
  margin: 0;
}

h4 {
  margin: 0;
}