:root {
    --menu-bg: #83c5be;
}

.menu-bar {
    background-color: var(--menu-bg);
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-area: side;
}

#side-wrapper {
    margin: 5px;
}